
body {
    margin: 2%;
    background-color: rgb(189, 202, 242);
}
h1{
    color:#b56bb8;
    border: solid 10px;
    border-style: groove;
    border-width: 20px;
    border-color: rgb(134, 134, 223);
    text-align: center;
    font-size: 125px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
    line-height: 105px;
}

#Spark {
    margin-top: -80px;
    width: 38%;
    margin-left: 8%;

}

h2 {
    color: #b56bb8;
    border: solid 5px;
    border-style: groove;
    border-color: rgb(134, 134, 223);
    text-align: center;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background {
    color: rgb(168, 57, 127);
    border-style: double;
    border-color: rgb(191, 131, 180);
    border-width: 0 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.photos {
    color: rgb(168, 57, 127);
    border-style: double;
    border-color: rgb(191, 131, 180);
    border-width: 0 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.contact {
    color: rgb(168, 57, 127);
    border-style: double;
    border-color: rgb(191, 131, 180);
    border-width: 0 4px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}

Span {
    color: rgb(235, 16, 103);
}

.email {
    font-size: 20px;
    display: block;
    color: black;
    background-color: rgb(115, 194, 225);
    width: 150px;
    text-align: center;
    text-decoration: none;
    margin-left: 45%;
    border-radius: 5%;
    transition-duration: 3s;

}

.email:hover {
    background-color: rgb(115, 194, 225);
    color: rgb(200, 178, 50);
    border-radius: 50%;
}

.email:active {
    color: gold;
    font-size: 40px;
}
